@import "../../responsive";
.map{
    &-container{
        height: calc(100vh - 280px);
        z-index: 2;
        width: 100%;
        @include mobile{
            height: calc(100vh - 310px);
        }
        @include mobile-leaflet{
            height: calc(100vh - 315px);
        }
        .leaflet-top.leaflet-left {
            // @include mobile{
                bottom: 2rem;
                top: inherit;
            // }
        }
    }
}

