$tablet-width: 768px;
$desktop-width: 1024px;
$leaflet-mobile: 600px; // Added because when screen width is less than 600px the scroller appears
@mixin mobile {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}


@mixin mobile-leaflet {
  @media (max-width: #{$leaflet-mobile - 1px}) {
    @content;
  }
}